{% extends 'base.html' %}
{% block content %}
<h1 class="b"> Hello, {{request.user.first_name}} </h1></br>
<h2 class="b"> Files: </h2>

<table class="table table-dark b">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Path</th>
    </tr>
  </thead>
  <tbody>
    {% for i in files %}
    <tr>
      <th scope="row">.</th>
      <td>{{i.name}}</td>
      <td>{{i.path}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Select a file:<input type="file" name='myfile'><br><br>
  <input type="submit"> 
</form>
{% if uploaded_file_url %}
<p> File uploaded at : {{ files.uplaoded_file_url }}</p>

{% endif %}
<textarea class="form-control">{{request.form}}</textarea>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
<div class="d-flex align-items-stretch"> </br> </div>
{% endblock%}